.color-card {
  margin: 10px 10px;
  padding: 5px;
  border-radius: 5px;
  /*https://htmlcssfreebies.com/css-box-shadow-examples/*/
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}

.color-card-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-card-headline {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.lucide-copy {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.color-card-highlight {
  font-size: 1rem;
  font-weight: bold;
  color: #d90429;
  margin-top: 10px;
}

.delete-confirm-button,
.delete-cancel-button,
.color-card-cancel-button,
.color-card-delete-button,
.color-card-edit-button  {
  padding: 5px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-confirm-button {
  background-color: #003e1f;
  color: white;
}

.delete-cancel-button {
  background-color: #d90429;
  color: white;
}

.delete-confirm-button:hover {
  background-color: darkgreen;
}

.delete-cancel-button:hover {
  background-color: darkred;
}

.color-card-delete-button{
  background-color: #d90429;
}

.color-card-delete-button:hover {
  background-color: darkred;
}

.color-card-edit-button {
  background-color: #4CAF50;
}

.color-card-edit-button:hover {
  background-color: #0b6730;
}

.color-card-cancel-button {
  background-color: #FF8C00;
  color: white;
}

.color-card-cancel-button:hover {
  background-color: #e07b00; 
}